<div class="row flex-nowrap">
    <div class="col-md-2 bg-side sidebar">
      <h2>ADO.TE</h2>
      <hr>
      <ul class="nav-list list-group list-group-flush">
          <li  class="list-group">
            <a href="#">
              <span class="links_name badge"><i class="fa-sharp fa-solid fa-house"></i>  Home </span>
            </a>

          </li>
          <li class="list-group">
            <a href="{% url 'novo_pet' %}">
                <span class="links_name badge "> <i class="fa-solid fa-volume-high"></i> Divulgar</span>
              </a>
        </li>
        <li class="list-group">
          <a href="{% url 'seus_pets' %}">
              <span class="links_name badge "><i class="fa-solid fa-paw"></i> Seus Pets</span>
            </a>
        </li>
      
        <li class="list-group">
          <a href="{% url 'listar_pets' %}">
              <span class="links_name badge "><i class="fa-solid fa-list"></i> Listar Pets</span>
            </a>
        </li>
        <li class="list-group">
          <a href="{% url 'ver_pedido_adocao' %}">
              <span class="links_name badge "> <i class="fa-duotone fa-box-open"></i>  Adoção</span>
            </a>
        </li>
        <li class="list-group">
          <a href="{% url 'dashboard' %}">
              <span class="links_name badge "><i class="fa-sharp fa-solid fa-chart-line"></i> DashBoard</span>
            </a>
        </li>
        <li class="list-group">
          <a href="{% url 'sair' %}" class="sair">
              <span class="links_name badge "><i class="fa-solid fa-arrow-right-from-bracket"></i> Sair</span>
            </a>
          </li>
      
  
</div>