{% extends 'base.html' %}
{% load static %}
{% block title %}Cadastro Usuario{% endblock title %}
{% block head %}
    <link href="{% static 'accounts/css/cadastro.css' %}" rel="stylesheet">
{% endblock head %}
{% block content %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 cadastro">
                    <div class='header'>
                        <img src="{% static 'accounts/img/logo_adote.png' %}" width="9%"><span class="font-logo">ADO.TE</span>
                    </div>

                    <div class="body-form">
                        {% if messages %}
                            <br>
                            {% for message in messages %}
                                <div class="alert {{message.tags}} alert-dismissible fade show  " role="alert">
                                    {{message}}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <h2>Cadastre-se</h2>
                        <p>Seu cadastro salva vidas.</p>
                        <hr>
                        <form action="{% url 'cadastro' %}" method="POST">{% csrf_token %}
                            <span>Usuario:</span>
                            <input type="text" class="form-control" placeholder="Digite nome de Usuario..." name="usuario" value="{{request.GET.nome}}">
                            <br>
                            <div class="row">
                                <div class="col-sm">
                                    <span>Nome:</span>
                                <input type="text" class="form-control" placeholder="Digite seu nome..." name="nome" value="{{request.GET.nome}}">
                                </div>
                                <div class="col-sm">
                                    <span>Sobre nome:</span>
                                <input type="text" class="form-control" placeholder="Digite seu sobre nome..." name="sobre-nome" value="{{request.GET.nome}}">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md">
                                    <span>E-mail:</span>
                                    <input type="email" class="form-control" placeholder="Digite seu email..." name="email">
                                </div>
                                <div class="col-md">
                                    <span>Telefone:</span>
                                    <input type="tel" maxlength="15" onkeyup="handlePhone(event)" class="form-control" placeholder="Digite um número de telefone" name="tel" />
                                </div>    
                            </div>
                            
                            <br>
                            <div class="row">

                                <div class="col-md">
                                    <span>Senha:</span>
                                    <input type="password" class="form-control" placeholder="Digite sua senha..." name="senha">
                                </div>

                                <div class="col-md">
                                    <span>Confirmar senha:</span>
                                    <input type="password" class="form-control" placeholder="Confirme sua senha..." name="confirmar_senha">
                                </div>
                            </div>

                            <input type="submit" value="SALVAR" class="btn-custom-primary">
                        
                            <a href="{% url 'login' %}" class="link-float">Já tenho uma conta</a>
                        </form>
                    </div>
                </div>

                <div class="col-md-7">
                    <div class="side-logo">
                        <img class="logo-margin-top" src="{% static 'accounts/img/logo_adote.png' %}" width="20%">
                        <h1>ADO.TE</h1>
                        <p>Nos ajude a salvar vidas.</p>
                    </div>
                </div>

            </div>



        </div>
        <script>
            const handlePhone = (event) => {
                let input = event.target
                input.value = phoneMask(input.value)
              }
              
              const phoneMask = (value) => {
                if (!value) return ""
                value = value.replace(/\D/g,'')
                value = value.replace(/(\d{2})(\d)/,"($1) $2")
                value = value.replace(/(\d)(\d{4})$/,"$1-$2")
                return value
              }
        </script>

  {% endblock %}