{% extends 'base.html' %}
{% load static %}
{% block title %}DashBoard{% endblock title %}
{% block head %}
    <link href="{% static 'accounts/css/cadastro.css' %}" rel="stylesheet"> 
    <link href="{% static 'divulge/css/novo_pet.css' %}" rel="stylesheet">
    <link href="{% static 'divulge/css/seus_pets.css' %}" rel="stylesheet">
    <link href="{% static 'adopt/css/listar_pets.css' %}" rel="stylesheet">
{% endblock head %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 bg-side sidebar">
            <h2>ADO.TE</h2>
            <hr>
           
            
        </div>

        <div style="padding:60px" class="col-md">

            <h3 class="font-vinho">Quantidade de adoções por raça.</h3>
             <div style="width: 60%;">
                <canvas id="myChart"></canvas>
            </div>  
        </div>

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static '/divulge/js/grafico.js' %}" ></script>
{% endblock content %}