{% extends 'base_.html' %}
{% load static %}
{% block title %}Seus Pets{% endblock title %}
{% block head %}
    <link href="{% static 'accounts/css/cadastro.css' %}" rel="stylesheet"> 
    <link href="{% static 'divulge/css/novo_pet.css' %}" rel="stylesheet">
    <link href="{% static 'divulge/css/seus_pets.css' %}" rel="stylesheet">
{% endblock head %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        
        <div class="col-md">
            <div class="wrapper">
                <div class="container">
                    {% if messages %}
                        <br>
                        {% for message in messages %}
                            <div class="alert {{message.tags}} alert-dismissible fade show  " role="alert">
                                {{message}}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <h3 class="font-vinho">Quero divulgar</h3>
                    <hr>

                     <table class="tabela table table-striped" cellpadding="20">
                        <thead>
                            <tr>
                                <th scope="col">Foto</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Raça</th>
                                <th scope="col">Status</th>
                                <th scope="col">Remover</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pet in pets %}
                            <tr class="tabela-linha">
                                <th scope="row" width="20%">
                                    <img class="img-fluid img-thumbnail img-pet" src="{{pet.foto.url}}">
                                </th>
                                <td>{{pet.nome}}</td>
                                <td>{{pet.raca}}</td>                                                                             
                                <td>
                                    {% if pet.status == 'P' %}
                                        <span class="badge text-bg-primary">Para Adoção</span>
                                    {% elif pet.status == 'A' %}
                                    <span class="badge text-bg-success">Adotado</span>
                                    {% endif %}
                                </td>                                        
                                <td>
                                    <button type="button" 
                                            class="btn btn-danger" 
                                            data-bs-toggle="modal" 
                                            data-bs-target="#exampleModal{{pet.id}}">
                                            REMOVER
                                      </button>
                                </td>
                                <!-- Modal -->
                                {% include 'modulos/_modal_delete.html' %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}