{% load static %}
<!doctype html>
<html lang="pt-BR">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
    <title>{% block title %}{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    {% comment %} <link href="{% static 'accounts/css/cadastro.css' %}" rel="stylesheet">
    <link href="{% static 'divulge/css/novo_pet.css' %}" rel="stylesheet">
    <link href="{% static 'divulge/css/seus_pets.css' %}" rel="stylesheet">
    <link href="{% static 'adopt/css/listar_pets.css' %}" rel="stylesheet"> {% endcomment %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/7b42181f2a.js" crossorigin="anonymous"></script>
    {% block head %}{% endblock head %}
    <link href="{% static 'general/css/sidebar.css' %}" rel="stylesheet">
    <link href="{% static 'accounts/css/cadastro.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7b42181f2a.js" crossorigin="anonymous"></script>
    </head>
    <body>       
          
        <div class="container-fluid">
            <div class="row flex-nowrap">
                <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-side">
                    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                        <a href="#" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                            <img class="logo" src="{% static 'accounts/img/logo_adote.png' %}"width="20%" alt=""><span class="fs-5 d-none d-sm-inline"> Menu </span> 
                        </a>
                        
                        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                            <li class="nav-item">
                                <a href="#" class="nav-link align-middle px-0">
                                    <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                                </a>
                            </li>
                            
                            <li>
                                <a href="{% url 'novo_pet' %}" class="nav-link px-0 align-middle">
                                    <i class="bi bi-megaphone"></i> <span class="ms-1 d-none d-sm-inline">Divulgar</span></a>
                            </li>
                            <li>
                                <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                    <i class="fa-solid fa-paw"></i> <span class="ms-1 d-none d-sm-inline">Pets</span></a>
                                <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                                    <li class="w-100">
                                        <a href="{% url 'seus_pets' %}" class="nav-link px-0"> <span class="d-none d-sm-inline">Seus Pets </span>pets</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'listar_pets' %}" class="nav-link px-0"> <span class="d-none d-sm-inline">Pets para Adoção</span>Adoção</a>
                                    </li>
                                </ul>
                            </li>
                            {% comment %} <li>
                                <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                    <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products</span> </a>
                                    <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                                    <li class="w-100">
                                        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 1</a>
                                    </li>
                                    <li>
                                        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 2</a>
                                    </li>
                                    <li>
                                        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 3</a>
                                    </li>
                                    <li>
                                        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 4</a>
                                    </li>
                                </ul>
                            </li> {% endcomment %}
                            <li>
                                <a href="{% url 'ver_pedido_adocao' %}" class="nav-link px-0 align-middle">
                                    <i class="bi bi-box2-heart"></i><span class="ms-1 d-none d-sm-inline">Aprovar Adoção</span> </a>
                            </li>
                            <li>
                                <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                    <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
                                <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                                    <li class="w-100">
                                        <a href="{% url 'dashboard' %}" class="nav-link px-0"> <span class="d-none d-sm-inline">Grafico</span><i class="bi bi-diagram-3"></i></a>
                                    </li>
                                    {% comment %} <li>
                                        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2 </a>
                                    </li> {% endcomment %}
                                </ul>
                            </li>
                        </ul>
                        <hr>
                        <div class="dropdown pb-4">
                            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                               <img src="{% if not user.foto_perfil %}
                                            {% static 'accounts/img/perfil_sem_foto.jpg' %}
                                        {% else %}
                                            {{user.foto_perfil.url}}
                                        {% endif %} 
                               " alt="hugenerd" width="30" height="30" class="rounded-circle">
                                <span class="d-none d-sm-inline mx-1">{{user.username}}</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                                
                                <li><a class="dropdown-item" href="#">Perfil</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{% url 'sair' %}">Sair</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col py-3">
                    {% block content %}{% endblock content %} 
                </div>
            </div>
        </div>    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>